<h1>Admin Dashboard</h1>
<div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th># of Products</th>
          <th># of Categories</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th> <%=@product_count%> </th>
            <th> <%=@category_count%> </th>
          </tr>
      </tbody>
    </table>

  </div>

